<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Officers - EVIL Capybara</title>
    <link rel="stylesheet" href="of_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="logo.ico">
</head>
<body class="officers-page">
    <header>
        <!-- Same header as the main page -->
        <a href="/" class="logo">
            <img src="logo.png" alt="Логотип">
            <span>EVIL Capybara Incorporated</span>
        </a>
        <div class="header-links">
            <a href="/" ></a>
            <a href="https://zkillboard.com/alliance/99013040/" target="_blank"></a>
            <a href="/hf_waitlist"></a>
        </div>
        <div id="language-selector" class="lang-switch">
            <div class="switch-container">
                <div class="switch-slider"></div>
                <button class="lang-button" onclick="applyTranslations('en')">English</button>
                <button class="lang-button" onclick="applyTranslations('ru')">Русский</button>
            </div>
        </div>
    </header>
    <main>
        <div id="officer-grid" class="officer-grid"></div>
    </main>
    <footer>
        <span style="color: grey;"><p>&copy; 2024 Aamoree. All rights reserved.</p></span>
    </footer>
    <script src="of_script.js"></script>
</body>
</html>
